---
import { getCollection, render } from "astro:content";
import CodeBlock from "@/components/code-block.astro";
import SourceCode from "@/components/source-code.astro";
import Preview from "@/components/preview.astro";
import Shell from "@/layouts/shell.astro";

export async function getStaticPaths() {
  const pages = await getCollection("pages");

  return pages.map((page) => ({
    params: { slug: page.id },
    props: { page },
  }));
}

const { page } = Astro.props;

const previews = await getCollection("previews");
console.log(previews);

const { Content } = await render(page);
---

<Shell meta={{ title: "Foundations" }}>
  <div class="mx-auto max-w-3xl flex-1 py-6 md:py-8">
    <section>
      <div class="mb-8">
        <h1 class="text-3xl font-bold">{page.data.title}</h1>
        <p class="text-foreground-secondary mt-2">{page.data.description}</p>
      </div>
    </section>
    <section data-markdown>
      <Content
        components={{
          pre: CodeBlock,
          SourceCode,
          Preview,
        }}
      />
    </section>
  </div>
</Shell>
