---
import { CopyButton } from "@/components/copy-button";
import { uid } from "@/lib/utils/uid";
import { cn } from "@/lib/utils/classnames";
import type { HTMLAttributes } from "astro/types";

type Props = Omit<HTMLAttributes<"div">, "id">;

const id = uid();

// eslint-disable-next-line @typescript-eslint/no-unused-vars
const { class: className, style: _style, ...props } = Astro.props;
---

<div
  id={id}
  data-code
  class={cn("relative my-4 w-full overflow-auto rounded-lg border p-4", "font-mono text-[0.9rem] font-medium", className)}
  {...props}
>
  {
    Astro.slots.has("default") && (
      <pre>
        <slot />
      </pre>
    )
  }
  <slot name="pre" />
  <CopyButton className="absolute top-2 right-2 opacity-80" client:idle target={`#${id} > pre`} />
</div>

<style is:global>
  [data-code] {
    pre {
      display: flex;
      background: transparent !important;
    }
  }
</style>
