---
import { CopyButton } from "@/components/copy-button";
import { uid } from "@/lib/utils/uid";

const id = uid();
---

<div
  data-code
  class="relative w-full overflow-auto rounded-lg border bg-transparent! px-4 py-3 font-mono text-[0.9rem] font-medium"
  {...Astro.props}
>
  <pre id={id}><slot /></pre>
  <CopyButton className="absolute top-2 right-2 opacity-80" client:idle target={`#${id}`} />
</div>
