---
import type { PreviewLayout } from "@/lib/preview";
import { cn } from "@/lib/utils/classnames";
import { ComponentPreviewHydrator } from "./component-preview-hydrator";

type Props = {
  file: string;
  layout?: PreviewLayout;
};

const { file, layout = "centered" } = Astro.props;

const modules = import.meta.glob("/src/foundations/**/*.preview.tsx");
const module = modules[file];

if (!module) {
  throw new Error(`Preview component not found for file: ${file}`);
}

// @ts-expect-error - dynamic import with glob is not properly typed
const Component = (await module()).default;
---

<div
  class={cn(
    layout === "centered"
      ? "flex h-full w-full flex-col items-center justify-center overflow-auto p-4"
      : layout === "padded"
        ? "h-full w-full overflow-auto p-4"
        : "contents"
  )}
>
  <ComponentPreviewHydrator file={file} client:visible>
    <Component />
  </ComponentPreviewHydrator>
</div>
