@import "tailwindcss";

@import "./foundations/setup/globals-data-attr.css";

@font-face {
  font-family: "Inter";
  src: url("/InterVariable.woff2") format("woff2");
  font-weight: 100 900;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/GeistMonoVariable.woff2") format("woff2");
  font-weight: 100 900;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Geist Mono", ui-monospace, monospace;
}

@layer base {
  *,
  ::before,
  ::after {
    border-color: var(--color-border);
  }
}

html,
body {
  height: 100%;
}
