---
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";
import { cn } from "@/lib/utils/classnames";
import { Menu } from "@/components/menu";
import { getCollection } from "astro:content";
import { getNavigationItems } from "@/lib/utils/content";

const pages = await getCollection("pages");
---

<Header />
<div class="mx-auto flex max-w-(--breakpoint-2xl)">
  <aside
    id="app-menu"
    data-mobile-menu-open="false"
    data-pagefind-ignore="all"
    class={cn(
      "bg-background shrink-0 overflow-y-auto overscroll-contain px-2 pt-2 pb-12 md:px-4 xl:px-2",
      // in mobile we use fixed positioning and control it in the Header component
      "fixed top-12 mt-px hidden h-[calc(100dvh-var(--spacing)*12)] w-full data-[mobile-menu-open=true]:block max-xl:z-200",
      "md:top-14 md:h-[calc(100dvh-var(--spacing)*14)] xl:sticky xl:block xl:max-w-64 xl:border-r xl:pt-4"
    )}
  >
    <Menu items={getNavigationItems(pages)} currentPath={Astro.url.pathname} client:load />
  </aside>

  <main class="w-full gap-8 px-4 lg:flex">
    <slot />
  </main>
</div>
<Footer />
